# ---- General Files ---- #
# Mac
.DS_Store

# ---- IDEs ---- #
## Eclipse
.settings/
.project
.classpath


## JetBrains
.idea/
*.iml
*.iws
/bin/

# ---- Java ---- #
*.class
*.jar
*.ear
*.war

# ---- Build ---- #
build/
.gradle
build.sh
target/
out/

# ---- Other ---- #
*.log


